{% extends './base.html' %}
{% load static %}
{% block search %}
  <form class="position-relative" data-bs-toggle="search" data-bs-display="static" method="post" action="{% url 'Search_People' %}">{% csrf_token %}
    <input class="form-control search-input fuzzy-search" name="search_people" type="search" placeholder="Enter para buscar persona" aria-label="Search" />
    <span class="fas fa-search search-box-icon"></span>
  </form>
{% endblock %}
{% block content %}

<div class="row g-3">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header bg-light overflow-hidden">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-m">
            <img class="rounded-circle" src="{% if request.session.photo_user %}{{request.session.photo_user}}{% else %}{% static 'without.jpg' %}{% endif %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h5 class="mb-0 fs-0">Crear Publicación</h5>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <form method="post" action="{% url 'Create_Post' %}" enctype="multipart/form-data" class="form_post">{% csrf_token %}
          <textarea class="shadow-none form-control rounded-0 resize-none px-card border-y-0 border-200 post" name="post" placeholder="De qué quieres hablar?" rows="4"></textarea>
          <input type="file" name="img" id="img" hidden >
          <div class="d-flex align-items-center ps-card border border-200">
            <label class="text-nowrap mb-0 me-2" for="hash-tags"><span class="fas fa-plus me-1 fs--2"></span><span class="fw-medium fs--1">Agregar etiqueta</span></label>
            <input class="form-control border-0 fs--1 shadow-none" id="hash-tags" type="text" placeholder="Ayuda a la persona adecuada a ver" />
          </div>
          <div class="row g-0 justify-content-between mt-3 px-card pb-3">
            <div class="col">

              

              <button class="btn btn-light btn-sm rounded-pill shadow-none d-inline-flex align-items-center fs--1 mb-0 me-1 img" type="button">
                <img class="cursor-pointer" src="{% static 'assets/img/icons/spot-illustrations/image.svg' %}" width="17" alt="" />
                <span class="ms-2 d-none d-md-inline-block">Imagen</span>
              </button>

              <button class="btn btn-light btn-sm rounded-pill shadow-none d-inline-flex align-items-center fs--1 me-1" type="button">
                <img class="cursor-pointer" src="{% static 'assets/img/icons/spot-illustrations/calendar.svg' %}" width="17" alt="" />
                <span class="ms-2 d-none d-md-inline-block">Evento</span>
              </button>
              <!-- <button class="btn btn-light btn-sm rounded-pill shadow-none d-inline-flex align-items-center fs--1 me-1" type="button"><img class="cursor-pointer" src="{% static 'assets/img/icons/spot-illustrations/location.svg' %}" width="17" alt="" /><span class="ms-2 d-none d-md-inline-block text-nowrap">Check in</span></button> -->
            </div>
            <div class="col-auto">
              <div class="dropdown d-inline-block me-1">
                <button class="btn btn-sm dropdown-toggle px-1" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-globe-americas"></span></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Publico</a>
                  <a class="dropdown-item" href="#">Privado</a>
                  <!-- <a class="dropdown-item" href="#">Draft</a> -->
                </div>
              </div>
              <button class="btn btn-primary btn-sm px-4 px-sm-5" id="send_post" type="submit">Publicar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- post -->
    {% for i in p %}
      <div class="card mb-3">
        <div class="card-header bg-light">
          <div class="row justify-content-between">
            <div class="col">
              <div class="d-flex">
                <div class="avatar avatar-2xl status-online">
                  <img class="rounded-circle" src="{{i.issuing_user.img_profile.url}}" alt="" />

                </div>
                <div class="flex-1 align-self-center ms-2">
                  <p class="mb-1 lh-1"><a class="fw-semi-bold" href="{% url 'Profile' i.issuing_user.pk %}">{{i.issuing_user.user|title}}</a> Compartio una publicación <a href="#!">album</a></p>
                  <p class="mb-0 fs--1">11 hrs &bull; Consett, UK &bull; <span class="fas fa-globe-americas"></span></p>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="dropdown font-sans-serif">
                {% if request.session.pk_user %}
                  <button class="btn btn-sm dropdown-toggle p-1 dropdown-caret-none" type="button" id="post-album-action" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h fs--1"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-3" aria-labelledby="post-album-action">
                    
                      {% if request.session.pk_user == i.issuing_user.pk %}
                        <a class="dropdown-item" href="#!">Editar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#!">Delete</a>
                      {% else %}
                        <a class="dropdown-item" href="#!">Reportar</a>
                      {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body overflow-hidden">
          <p>{{i.post}}</p>
          <div class="row mx-n1">
            {% if img %}
              {% for j in img %}
                {% if i.pk == j.post.pk %}
                  <div class="col-6 p-1">
                    <a href="{{j.img.url}}" data-gallery="gallery-1">
                      <img class="img-fluid rounded" src="{{j.img.url}}" style="height: 45% !important; width: 45% !important;" alt="" />
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="card-footer bg-light pt-0 comentario{{i.pk}}">
          <div class="border-bottom border-200 fs--1 py-3">
            <a class="text-700" href="javascript:void(0);"><span class="n_likes_null{{i.pk}}">{{i.count_like}}</span> Likes</a> &bull;
            <a class="text-700" href="#!">34 Comments</a>
          </div>
          <div class="row g-0 fw-semi-bold text-center py-2 fs--1">
            
            {% if i.count_like != 0 %}
              <div class="col-auto">
                <a class="rounded-2 text-700 d-flex align-items-center me-3 delete_like_post{{i.pk}}" id="{{i.pk}}" type="button" href="javascript:void(0);">
                  <img src="{% static 'assets/img/icons/spot-illustrations/like-active.png' %}" class="heart_like_null{{i.pk}}" width="20" alt="" />
                  <span class="ms-1">Me gusta</span>
                </a>
              </div>
            {% else %}
              <div class="col-auto">
                <a class="rounded-2 text-700 d-flex align-items-center me-3 like_post_null{{i.pk}}" id="{{i.pk}}" type="button" href="javascript:void(0);">
                  <img src="{% static 'assets/img/icons/spot-illustrations/like-inactive.png' %}" class="heart_like_null{{i.pk}}" width="20" alt="" />
                  <span class="ms-1">Me gusta</span>
                </a>
              </div>
            {% endif %}

            <div class="col-auto">
              <a class="rounded-2 text-700 d-flex align-items-center me-3" href="#!">
                <img src="{% static 'assets/img/icons/spot-illustrations/comment-inactive.png' %}" width="20" alt="" />
                <span class="ms-1">Comment</span>
              </a>
            </div>
            <div class="col-auto d-flex align-items-center"><a class="rounded-2 text-700 d-flex align-items-center" href="#!"><img src="{% static 'assets/img/icons/spot-illustrations/share-inactive.png' %}" width="20" alt="" /><span class="ms-1">Share</span></a></div>
          </div>
          <input class="form-control rounded-pill ms-2 fs--1 comments_post" id="commentaries{{i.pk}}" type="text" placeholder="Escribe un comentario..." />
          <small>Presiona Enter para publicar.</small><br>
          <a class="fs--1 text-700 d-inline-block mt-2" data-bs-toggle="collapse" href="#collapseExample{{i.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample" href="javascript:void(0);">Cargar comentarios</a>
          <div class="collapse list_commentaries" style="max-height: 50vh;overflow-y: auto;" id="collapseExample{{i.pk}}">
            {% for j in commentaries %}
              {% if j.post.pk == i.pk %}
                <div class="d-flex mt-3">
                  <div class="avatar avatar-xl">
                    <img class="rounded-circle" src="{{j.user.img_profile.url}}" alt="" />
                  </div>
                  <div class="flex-1 ms-2 fs--1">
                    <p class="mb-1 bg-200 rounded-3 p-2"><a class="fw-semi-bold" href="{% url 'Profile' j.user.pk %}">{{j.user.user|title}}</a> {{j.description}}</p>
                    <div class="px-2">
                      <a href="#!">Like</a> &bull; 
                      <a href="#!">Reply</a> &bull; 
                        {{j.time}} 
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          
        </div>
      </div>
    {% endfor %}
    

    <!-- end post -->
  </div>

  <!-- lateral -->
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-body fs--1">
        <div class="d-flex"><span class="fas fa-gift fs-0 text-warning"></span>
          <div class="flex-1 ms-2">El cumpleaños de <a class="fw-semi-bold" href="../../pages/user/profile.html">Emma Watson</a> es hoy.</div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Añadir a su fuente</h5><a class="fs--1" href="#!">Ver todo</a>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/13.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Katheryn Winnick</a></h6>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/5.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Travis Fimmel</a></h6>
            <p class="fs--1 mb-0">5 mutual connections</p>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/10.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Gustaf Skarsgård</a></h6>
            <p class="fs--1 mb-0">10 mutual connections</p>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/8.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Clive Standen</a></h6>
            <p class="fs--1 mb-0">8 mutual connections</p>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/15.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Jennie Jacques</a></h6>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/6.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Isaac Hempstead</a></h6>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/2.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Antony Hopkins</a></h6>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-3xl">
            <img class="rounded-circle" src="{% static 'assets/img/team/3.jpg' %}" alt="" />

          </div>
          <div class="flex-1 ms-2">
            <h6 class="mb-0"><a href="../../pages/user/profile.html">Sophie Turner</a></h6>
            <button class="btn btn-light btn-sm py-0 mt-1 border" type="button"><span class="fas fa-user-plus" data-fa-transform="shrink-5 left-2"></span><span class="fs--1">Follow</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mb-lg-0">
      <div class="card-header bg-light">
        <h5 class="mb-0">Te puede interesar</h5>
      </div>
      <div class="card-body fs--1">
        <div class="d-flex btn-reveal-trigger">
          <div class="calendar"><span class="calendar-month">Feb</span><span class="calendar-day">21</span></div>
          <div class="flex-1 position-relative ps-3">
            <h6 class="fs-0 mb-0"><a href="../../app/events/event-detail.html">Newmarket Nights</a></h6>
            <p class="mb-1">Organized by <a href="#!" class="text-700">University of Oxford</a></p>
            <p class="text-1000 mb-0">Time: 6:00AM</p>
            <p class="text-1000 mb-0">Duration: 6:00AM - 5:00PM</p>Place: Cambridge Boat Club, Cambridge
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex btn-reveal-trigger">
          <div class="calendar"><span class="calendar-month">Dec</span><span class="calendar-day">31</span></div>
          <div class="flex-1 position-relative ps-3">
            <h6 class="fs-0 mb-0"><a href="../../app/events/event-detail.html">31st Night Celebration</a></h6>
            <p class="mb-1">Organized by <a href="#!" class="text-700">Chamber Music Society</a></p>
            <p class="text-1000 mb-0">Time: 11:00PM</p>
            <p class="text-1000 mb-0">280 people interested</p>Place: Tavern on the Greend, New York
            <div class="border-dashed-bottom my-3"></div>
          </div>
        </div>
        <div class="d-flex btn-reveal-trigger">
          <div class="calendar"><span class="calendar-month">Dec</span><span class="calendar-day">16</span></div>
          <div class="flex-1 position-relative ps-3">
            <h6 class="fs-0 mb-0"><a href="../../app/events/event-detail.html">Folk Festival</a></h6>
            <p class="mb-1">Organized by <a href="#!" class="text-700">Harvard University</a></p>
            <p class="text-1000 mb-0">Time: 9:00AM</p>
            <p class="text-1000 mb-0">Location: Cambridge Masonic Hall Association</p>Place: Porter Square, North Cambridge
          </div>
        </div>
      </div>
      <div class="card-footer bg-light p-0 border-top">
        <a class="btn btn-link d-block w-100" href="../../app/events/event-list.html">
          Todos los eventos<span class="fas fa-chevron-right ms-1 fs--2"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
	<script>

    $('a[type="button"').on('click',function(){
      id = this.id
      if($("a[type='button']").hasClass("like_post_null"+id)){
        $.ajax({
          url:"{% url 'Like_Post_Null' %}",
          data:{'post_pk':this.id},
          success:function(data){
            $(".heart_like_null"+id).attr("src","{% static 'assets/img/icons/spot-illustrations/like-active.png' %}");
            n_like = parseInt($(".n_likes_null"+id).text()) + 1
            $(".n_likes_null"+id).text(n_like)
            $(".like_post_null"+id).addClass("delete_like_post"+id);
            $(".like_post_null"+id).removeClass("like_post_null"+id)
          }
        })
      }
      else{
        $.ajax({
          url:"{% url 'Delete_Like_Post' %}",
          data:{'post_pk_delete':this.id},
          success:function(data){
            $(".heart_like_null"+id).attr("src","{% static 'assets/img/icons/spot-illustrations/like-inactive.png' %}");
            n_like = parseInt($(".n_likes_null"+id).text()) - 1
            $(".n_likes_null"+id).text(n_like)
            $(".delete_like_post"+id).addClass("like_post_null"+id);
            $(".delete_like_post"+id).removeClass("delete_like_post"+id)
          }
        })
      }
    })






    $('#send_post').click(function(e){
      e.preventDefault()
      if($(".post").val().trim() != ""){
        $(".form_post").submit()
      }
      else
      {
        $.notify("No puedes enviar un mensaje vacio ", "error");
        $(".post").val('')
      }
    })

    $('.img').click(function(e){
      $("#img").click()
    })
    




    var regex = /(\d+)/g;

    $('.comments_post').on('keyup',function(event){
      event.preventDefault()
      if (event.which === 13) {
        id = this.id
        message = $("#"+id).val()
        if(message != "" || message != " "){
          $.ajax({
            url:"{% url 'Commentaries' %}",
            data:{'pk_post':id.match(regex)[0], 'message':message},
            success:function(e){
              $(".comments_post").val('')
              data = JSON.parse(e)
              $(".comentario"+id.match(regex)[0]).append(
                  `
                   <div class="d-flex mt-3">
                      <div class="avatar avatar-xl">
                        <img class="rounded-circle" src="${data['img_profile']}" alt="" />
                      </div>
                      <div class="flex-1 ms-2 fs--1">
                        <p class="mb-1 bg-200 rounded-3 p-2"><a class="fw-semi-bold" href="javascript:void(0);">{{j.user.user|title}}</a> ${message}</p>
                        <div class="px-2"><a href="#!">Like</a> &bull; <a href="#!">Reply</a> &bull; {{j.time}} </div>
                      </div>
                   </div>
                  `
              )
            }
          })
        }
      }
    })



  </script>

{% endblock %}