{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="card card-chat overflow-hidden">
  <div class="card-body d-flex p-0 h-100">
    <div class="chat-sidebar">
      <div class="contacts-list scrollbar-overlay">
        <div class="nav nav-tabs border-0 flex-column" role="tablist" aria-orientation="vertical">

          {% for i in data %}
            <div class="hover-actions-trigger chat-contact nav-item box_contact active_contact" id="{{i.code}}" role="tab" id="chat-link-{{i.code}}" data-bs-toggle="tab" data-bs-target="#chat-{{i.code}}" aria-controls="chat-{{i.code}}" aria-selected="true">
              <div class="d-md-none d-lg-block">
                <div class="dropdown dropdown-active-trigger dropdown-chat">
                  <button class="hover-actions btn btn-link btn-sm text-400 dropdown-caret-none dropdown-toggle end-0 fs-0 mt-4 me-1 z-index-1 pb-2 mb-n2" type="button" data-boundary="viewport" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-cog" data-fa-transform="shrink-3 down-4"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2 rounded-2">
                    <a class="dropdown-item" href="#!">Mute</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">Archive</a>
                    <a class="dropdown-item text-danger" href="#!">Delete</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">Mark as Unread</a>
                    <a class="dropdown-item" href="#!">Something's Wrong</a>
                    <a class="dropdown-item" href="#!">Ignore Messsages</a>
                    <a class="dropdown-item" href="#!">Block Messages</a>
                  </div>
                </div>
              </div>
              <div class="d-flex p-3">
                <div class="avatar avatar-xl status-online">
                  <img class="rounded-circle" src="{% if i.user_to.pk != request.session.pk_user %}
                      {{i.user_to.img_profile.url}}
                    {% else %}
                      {{i.from_user.img_profile.url}}
                    {% endif %}" alt="" />

                </div>
                <div class="flex-1 chat-contact-body ms-2 d-md-none d-lg-block">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-0 chat-contact-title">
                    {% if i.user_to.pk != request.session.pk_user %}
                      {{i.user_to.user | title}}
                    {% else %}
                      {{i.from_user.user | title}}
                    {% endif %}
                    </h6><span class="message-time fs--2">Tue</span>
                  </div>
                  <div class="min-w-0">
                    <div class="chat-contact-content pe-3">
                      {% if i.user_to.pk != request.session.pk_user %}
                        {{i.user_to.user | title}}
                      {% else %}
                        {{i.from_user.user | title}}
                      {% endif %}
                      sent
                      6 photos
                    </div>
                    <div class="position-absolute bottom-0 end-0 hover-hide">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>



      <form class="contacts-search-wrapper">
        <div class="form-group mb-0 position-relative d-md-none d-lg-block w-100 h-100">
          <input class="form-control form-control-sm chat-contacts-search border-0 h-100" type="text" placeholder="Search contacts ..." /><span class="fas fa-search contacts-search-icon"></span>
        </div>
        <button class="btn btn-sm btn-transparent d-none d-md-inline-block d-lg-none"><span class="fas fa-search fs--1"></span></button>
      </form>
    </div>



    <div class="tab-content card-chat-content f_m">
        {% include './message.html' %}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>

    _id = ""
    click = 1

    $(".active_contact").on('click',function(){
      id = this.id
      console.log(id)
      _id = id
      console.log(_id+' ID')
      $(".panel_active_contact").eq(0).attr('id',"#chat-"+id)      
    })


      $(".s_message").click(function(e){
        e.preventDefault()
        console.log(_id)
        message = $(".message").text()
        $.ajax({
          url:"{% url 'Add_Message' %}",
          data: {'message':message,'code':_id},
          success: function(data){
            console.log('successfull')
          }
        })
        
      })

      $(document).ready(function() {
          var pageRefresh = 2000; //5 s
              setInterval(function() {
              refresh();
              }, pageRefresh
          );
        });
       // Functions
        function refresh() {
            $('.box_chats').load("{% url 'Chat' %} .box_chats");
        }
  </script>
{% endblock %}
          