<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <h3>Escribe tu descripción</h3>
      <p>Comparte lo que hace que tu espacio sea especial.</p>
    </div>
  </div>
</div><br>
<div class="mb-3">
  <textarea class="form-control" id="description" rows="7" style="resize: none;" maxlength="500" placeholder="Te divertirás mucho en este cómodo lugar para quedarte." autofocus></textarea>
  <div><span id="count_letter_description">0</span>/500</div>
</div>

<div class="row">
  <button class="btn btn-primary next_description col-4 ml-auto" >Seguir</button>
</div>