<div class="container">
  <div class="row">
    <div class="col-md-7 col-12">
      <video autoplay muted>
        <source src="https://stream.media.muscache.com/KeNKUpa01dRaT5g00SSBV95FqXYkqf01DJdzn01F1aT00vCI.mp4?v_q=high">
      </video>
    </div>
    <div class="col-md-5 col-12">
      <h3>Terminar y publicar</h3>
      <p>
        Por último, elegirás si prefieres empezar con un huésped que ya lleve tiempo usando la plataforma y, a continuación, establecerás el precio por noche. Responde algunas preguntas y publica tu anuncio cuando lo tengas todo listo.
      </p>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary next_end col-4 ml-auto" >Seguir</button>
  </div>
</div><br>