<style>
  .incremment{
    float: right;
  }

  .plus{
    width: 25px;
  }
  .plus:hover{
    cursor: pointer;
  }
  
  .less{
    width: 45px;
  }

  .lees:hover{
    cursor: pointer;
  }

</style>
<h3>Agrega algunos datos básicos sobre tu espacio</h3>
<p>Después podrás agregar más información, como los tipos de cama.</p>

<div class="row light">
  <div class="col-sm-12 col-lg-12 mb-4">
    <div class="card text-white">
      <div class="card-body">
        <div class="card-title">
          <span>Huéspedes</span>
          <span class="incremment">
            <img id="1" src="https://e7.pngegg.com/pngimages/216/79/png-clipart-computer-icons-symbol-addition-plus-and-minus-signs-plus-miscellaneous-logo-thumbnail.png" class="plus" />
            <span class="1" style="margin-left: auto; margin-right: auto;">0</span>
            <img id="1" src="https://e7.pngegg.com/pngimages/760/853/png-clipart-plus-and-minus-signs-computer-icons-subtraction-plus-minus-sign-symbol-miscellaneous-angle.png" class="less" />
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <div class="card text-white">
      <div class="card-body">
        <div class="card-title">
          <span>Habitaciones</span>
          <span class="incremment">
            <img id="2" src="https://e7.pngegg.com/pngimages/216/79/png-clipart-computer-icons-symbol-addition-plus-and-minus-signs-plus-miscellaneous-logo-thumbnail.png" class="plus" />
            <span class="2" style="margin-left: auto; margin-right: auto;">0</span>
            <img id="2" src="https://e7.pngegg.com/pngimages/760/853/png-clipart-plus-and-minus-signs-computer-icons-subtraction-plus-minus-sign-symbol-miscellaneous-angle.png" class="less" />
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <div class="card text-white">
      <div class="card-body">
        <div class="card-title">
          <span>Camas</span>
          <span class="incremment">
            <img id="3" src="https://e7.pngegg.com/pngimages/216/79/png-clipart-computer-icons-symbol-addition-plus-and-minus-signs-plus-miscellaneous-logo-thumbnail.png" class="plus" />
            <span class="3" style="margin-left: auto; margin-right: auto;">0</span>
            <img id="3" src="https://e7.pngegg.com/pngimages/760/853/png-clipart-plus-and-minus-signs-computer-icons-subtraction-plus-minus-sign-symbol-miscellaneous-angle.png" class="less" />
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <div class="card text-white">
      <div class="card-body">
        <div class="card-title">
          <span>Baños</span>
          <span class="incremment">
            <img id="4" src="https://e7.pngegg.com/pngimages/216/79/png-clipart-computer-icons-symbol-addition-plus-and-minus-signs-plus-miscellaneous-logo-thumbnail.png" class="plus" />
            <span class="4" style="margin-left: auto; margin-right: auto;">0</span>
            <img id="4" src="https://e7.pngegg.com/pngimages/760/853/png-clipart-plus-and-minus-signs-computer-icons-subtraction-plus-minus-sign-symbol-miscellaneous-angle.png" class="less" />
          </span>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  <button class="btn btn-primary col-4 ml-auto next">Siguiente</button>
</div>