 <div>
  <h3>Elige a quién recibir en tu primera reservación</h3>
  <p>Después de tu primer huésped, cualquiera podrá reservar tu alojamiento.</p>
</div><br>
<div class="row light">
 
  <div class="col-sm-12 col-lg-12 mb-4">
    <a href="javascript:void(0);" id="1" class="response_resident">
      <div class="card text-white card_question response_resident1">
        <div class="card-body">
          <div class="card-title">Cualquier huésped en Guluse Confort</div>
          <p class="description">Recibirás reservaciones más rápido si compartes tu espacio con cualquier miembro de la comunidad de Guluse Confort.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <a href="javascript:void(0);" id="2" class="response_resident">
      <div class="card text-white card_question response_resident2">
        <div class="card-body">
          <div class="card-title">Un huésped experimentado</div>
          <p class="description">Para tu primera reservación, compartirás tu espacio solo con alguien que tenga una reputación intachable en Airbnb y que pueda darte consejos para ser un anfitrión de primera.</p>
        </div>
      </div>
    </a>
  </div>
</div>