<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <h3>Ahora, ponle un título a tu casa</h3>
      <p>Los títulos cortos funcionan mejor. No te preocupes, puedes modificarlo más adelante.</p>
    </div>
  </div>
</div><br>
<div class="mb-3">
  <textarea class="form-control" id="area" rows="3" style="resize: none;" maxlength="32" autofocus id="exampleFormControlTextarea1" rows="3"></textarea>
  <div><span id="count_letter">0</span>/32</div>
</div>

<div class="row">
  <button class="btn btn-primary next_title col-4 ml-auto" >Seguir</button>
</div>