<style>
  .link_card{
    text-decoration: none !important;
  }
  .img_card{
    width: 50%;
    height: 50%;
  }

  video{
    width: 80%;
    height: 80%;
  }

  @media screen and (width < 800px){
    .card-title{
      font-size: 15px;
    }
    video{
      width: 100%;
      height: 100%;
    }
    h3{
      font-size: 15px;
    }
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <video autoplay muted>
        <source src="https://stream.media.muscache.com/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4?v_q=high">
      </video>
    </div>
    <div class="col-md-6 col-12">
      <h3>¿Cuál de estas opciones describe mejor tu espacio?</h3>
    </div>
  </div>
</div><br>
<div class="row light">
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="1" class="link_card">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="card-title">Casa</div>
          <img src="https://assets.stickpng.com/images/588a66aad06f6719692a2d1d.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="1" class="link_card">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="card-title">Apartamento</div>
          <img src="https://cdn-icons-png.flaticon.com/512/6917/6917662.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="2" class="link_card">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="card-title">Casa de Campo(Finca)</div>
          <img src="https://cdn-icons-png.flaticon.com/512/6327/6327523.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="3" class="link_card">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="card-title">Glamping</div>
          <img src="https://cdn-icons-png.flaticon.com/512/6750/6750557.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="4" class="link_card">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="card-title">Cabaña</div>
          <img src="https://cdn-icons-png.flaticon.com/512/3129/3129647.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="5" class="link_card">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title">Hotel</div>
          <img src="https://img.icons8.com/emoji/600/000000/hotel-emoji.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-6 col-lg-4 mb-4">
    <a href="javascript:void(0);" id="5" class="link_card">
      <div class="card bg-success">
        <div class="card-body">
          <div class="card-title">Hosteria</div>
          <img src="https://img.icons8.com/emoji/600/000000/hotel-emoji.png" class="img_card">
        </div>
      </div>
    </a>
  </div>
</div>