<style>
  .card_question{
    background: white;
    border: 1.5px #007bff solid;
  }

  .card-title, .description{
    color:black;
    text-decoration: none;
  }

  .card_question:hover{
    background: #007bff;
    color:white !important;
  }
  .card_question.card-title:hover{
    color:white !important;
  }

</style>
 <div>
  <h3>¿De qué tipo de alojamiento dispondrán los huéspedes?</h3>
</div><br>
<div class="row light">
 
  <div class="col-sm-12 col-lg-12 mb-4">
    <a href="javascript:void(0);" id="1" class="response_question">
      <div class="card text-white card_question">
        <div class="card-body">
          <div class="card-title">Un alojamiento entero</div>
          <p class="description">Los huéspedes disponen del alojamiento entero para ellos.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <a href="javascript:void(0);" id="2" class="response_question">
      <div class="card text-white card_question">
        <div class="card-body">
          <div class="card-title">Una habitación privada</div>
          <p class="description">Los huéspedes duermen en una habitación privada, pero es posible que algunas zonas se compartan contigo u otras personas.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-lg-12 mb-4">
    <a href="javascript:void(0);" id="3" class="response_question">
      <div class="card text-white card_question">
        <div class="card-body">
          <div class="card-title">Una habitación compartida.</div>
          <p class="description">Los huéspedes duermen en una habitación o zona común que posiblemente compartan con otras personas.</p>
        </div>
      </div>
    </a>
  </div>
</div>